a:hover, a:visited, a:link, a:active {
text-decoration: none;
}
@font-face {
  font-family: 'Allerta Stencil';
  src: url('path/to/font.woff2') format('woff2');
  /* 添加其他字体格式的声明，如 WOFF、TTF、EOT，以支持不同的浏览器 */
  font-weight: normal; /* 根据需要设置字体的粗细 */
  font-style: normal; /* 根据需要设置字体的样式 */
}

.body_container {
  opacity: 0;
  transition: opacity 1.0s ease-in-out; /* 过渡动画，0.5秒淡入淡出 */
}

/* 触发淡入效果的类或选择器 */
.body_container.show {
  opacity: 1;
}
.fw{
  align-items: center;
  background-color: #D9D9D9;
  display: flex;
  height: 60px;
}
.footer_text{
  color: gray;
  font-size: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;

}

.body_container{
width: 100%;
}

.header_container{
  width: 100%;
  background-color: black;
  position:sticky;
  top:0;
  z-index: 30;

}
/* 定义 header 的初始样式 */
#main-header {
  background-color: black;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

/* 添加背景色的样式 */
#main-header.scrolled {
  background-color: white; /* 设置滚动后的背景色 */
  opacity: 90%;
  /* 其他样式 */
}
.nav_link{
  font-family: 'Allerta Stencil', sans-serif;
  padding: 20px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
  transition: 0.3s ease-in-out;

}

.nav_link:hover{
    -webkit-text-stroke: 0.2px black;
    -webkit-text-fill-color: transparent;
    color: inherit; 
    transition: 0.3s ease-in-out;
}

.logo{
  font-family: 'Aclonica', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 6.72px;
  font-style: italic;
  color: black;
  transition: 0.3s;
  transition: 0.5s ease-in-out;
}

.logo:hover{
  color: black;
  text-shadow: 0.1em 0.1em lightgray;
  transition: 0.3s;
}

.intro{
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 100px;
  margin-bottom: 80px;
}

.column{
  margin: 40px;
  padding-top: 40px;
}

.myname{
  margin-bottom: 10px;
  font-size: 60px;
  font-family: 'Allerta Stencil', sans-serif;
  color: black;
  font-weight: bold;
}

.sentence{
  font-size: 18px;
  color: #5F5F5F;
  width: 600px;
  padding-right: 60px;
  margin-right: 50px;
}

.triangles{
  margin-top: 60px;
  width: 450px;
}

svg{
  overflow: visible;
}

.triangle1{
  fill: #000;
  stroke: #000;
  stroke-width: 10;
  }

.move{
    animation: 1s linear 0s infinite alternate move;
}
.move2{
    animation: 1.5s linear 0s infinite alternate move;

}
.move3{
    animation: 0.8s linear 0s infinite alternate move;
}

@keyframes move {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(0px);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(20px);
    }
}

.interaction_right{
  position: relative;
  border-radius: .4em;
  padding: 30px;
  border: solid 2px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #000;
  z-index: 10;
}
.interaction_right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #000;
  border-right: 0;
  margin-top: -20px;
  margin-right: -30px;
}
.triangle1{
  fill: #000;
  stroke: #000;
  stroke-width: 10;
  transform: rotate(40.021deg);
}
.triangle2{
  fill: #D4D4D4;
  stroke: #D4D4D4;
  stroke-width: 10;
  transform: rotate(10.998deg);
}

.triangle3{
  fill: #5F5F5F;
  stroke: #5F5F5F;
  stroke-width: 10;
  transform: rotate(-49.021deg);
}

.interaction{
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.input{
  opacity: 0.9;
  outline: none;
  border-color: rgba(116, 110, 108, 0.5);
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  font-size: 18px;
  padding: 8px 10px;
}

.dog{
  position:absolute;
  width: 300px;
  z-index: 10;
}

.myworksbg{
  margin-top: 0px;
  width: auto;
  height: auto;
  background-color: #D9D9D9 ;
}

.interaction_btn{
  width: 200px;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 100px;
}

.click_text{
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  color: black;
  font-weight: bold;
}

.click_style:hover .click_text{
  -webkit-text-stroke: 0.2px black;
  -webkit-text-fill-color: white;
  cursor: pointer;
}

.click{
  padding-top: 5px;
}

.click_style{
  margin-bottom: 10px; 
  justify-content: space-between;
  transition-duration: 0.3s;
}

.click_style:hover{
  justify-content: normal;
}

.dog_username{
  text-align: center;
  width: 300px;
  position: relative;
  top: 125%;
  z-index: 20;
}

.username{
  text-align: center;
  width: 300px;
  position: relative;
  margin-top: 20px;
  top: 120%;
  z-index: 20;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
}

.before_username{
  font-size: 20px;
  display: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
}

#NewStringBox{
  text-align: center;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
}

.btn_home_go{
  width: 25px;
  margin-top: 10px;
}
.userinput{
  display: flex;
}

.mywork_title{
  margin-left: 25px;
  font-size: 50px;
  font-family: 'Allerta Stencil', sans-serif;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: black;
  margin-bottom: 30px;
}

.myworkcontainer{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
}

.project_block{
  width: 550px;
  height: 560px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: 0.3s;
}
.project_rowblock{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.project_rowblock.active {
  opacity: 1;
}

.project_block:hover{
  box-shadow:  0.5em 0.5em dimgray;
  transition: 0.3s;
}

.project_image{
  margin: 20px;
  width: 510px;
  height: 350px;
  border-radius: 8px 8px 8px 8px ;
}
.content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* 當內容顯示時透明度為 1 */
.content.active {
  opacity: 1;
}
#mywork{
  scroll-margin-top: 100px;
}

.project_rowblock{
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.project_name{
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  color: black;
}
.tag{
  width: auto;
  height: 40px;
  background-color: #f4f4f4;
  color: black;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  margin-left: 0px;
  line-height: 28px;
}

.project_tag{
  margin-left: 20px;
  display: flex;
}

.project_describe{
  font-size: 20px;
  margin: 10px;
  margin-left: 20px;
  color: #5F5F5F;
}

.project_cover{
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  background-image: url('../images/cover_9Knights.jpg'); /* 图片相对于 CSS 文件的路径 */
  background-size: cover;
  z-index: -1;
  background-position: center -10vh; /* 负的垂直值使背景图像向上移动 */
}
.project_content{
  position: relative;
  z-index: 1;
}


